#Glow ESP
glowKey= "KP_1";

glowRed= "255";
glowGreen= "0";
glowBlue= "0";
# RGB (255,255,255)

glowAlpha= "0.9";

fullBloom= "0";
glowStyle= "0"; # Use 1, 2 or 3 for different styles. Anything above 0 has a visibility check. (good for legit cheating)

healthBased= "1";
rainbow= "0";
paintBlack= "1"; # will paint all enemy players with the color black if set to 1
# 1 = true
# 0 = false

#Recoil Control System
rcsKey= "KP_3";
rcsValueX= "2.0";
rcsValueY= "2.0";
# ranges from 0.0 to 2.0
# 2.0 is a perfect spray

sensitivity= "1";

m_pitch= "0.022";

m_yaw= "0.022";

#Trigger Bot
triggerToggleKey= "KP_2";
triggerKey= "Alt_L";
triggerKeyEnabled= "0";
# 1 = true
# 0 = false

#No Flash
noFlash= "1";
# 1 = true
# 0 = false

#Disable post processing for more FPS
disablePostProcessing= "1";
# 1 = true
# 0 = false

#Custom Music Kit ID without having the item
musicKitChangerEnabled= "0";
musicKitID= "0";
# music kit ID's: https://pastebin.com/raw/f3vze8c4 (taken from my internal)

#Change field of view (sadly not perfect because external too slow :( )
fovEnabled= "0";
fov= "100";

#Refresh config
refreshConfigKey= "KP_0";
